
<div *ngIf = "specialPeriods.getPeriodIdTypeForCountry() === 2; else multi">

  <app-ja-nej 
    [(value)] = "specialPeriods.over183dageNormalCase" 
    [label]   = "text.get('label183DageNormal')" 
   
  ></app-ja-nej>

  <p>{{text.get('label183DageNormal_expanded')}}</p>
  
</div>

<ng-template #multi>

  <div *ngFor="let period of specialPeriods.periods">
    <div class = "period">
      {{printService.printPeriod(period.taxPeriod.from, period.taxPeriod.to)}}
    </div>

    <app-ja-nej   
      [(value)] = "period.userAbove_183" 
      [label]   = "text.get('over183dageComplex')" 
    ></app-ja-nej>   

  </div>
 

</ng-template>