
<div *ngIf = "specialPeriods.getPeriodIdTypeForCountry() === 2; else multi">

  <app-ja-nej 
    [(value)] = "specialPeriods.over183dageNormalCase" 
    label   = "Befinder du dig over 183 dage i en 12 måneders periode i landet?" 
   
  ></app-ja-nej>

  <p>Ekstra forklaring her ...</p>
  
</div>

<ng-template #multi>

  <div *ngFor="let period of specialPeriods.periods">
    <div class = "period">
      {{printService.printPeriod(period.taxPeriod.from, period.taxPeriod.to)}}
    </div>

    <app-ja-nej   
      [(value)] = "period.userAbove_183" 
      [label]   = "labelTxt()" 
    ></app-ja-nej>   

  </div>
 

</ng-template>