<app-radio-button 
  [options] = "print.transformToOptions('offentligPrivat')"
  [label]   = "text.get('labelOffentligPrivat')"
  [(value)] = "state.arbejdsgiverForhold.publicPrivate" 
></app-radio-button>

<app-radio-button 
  [options] = "getoptionsOrigin()"
  [label]   = "text.get('labelArbejdsGiverOprindelse')"
  [(value)] = "state.arbejdsgiverForhold.originOfFirm" 
></app-radio-button>


<div *ngIf = "isNotLocalCountry() && commons.getCountryGroup() !== 8">

  <app-ja-nej 
    [(value)] = "state.arbejdsgiverForhold.fixedOfficeInCountry"
    [label]   = "text.get('fastDriftsStedLabel')" 
  ></app-ja-nej>

  <p>{{text.get('fastDriftsStedLabel_Expanded')}}</p>

</div>