<div class="button-wrapper">
  <div class = "pull-left">
      <div>
        <button 
        *ngIf="router('back')" 
        class="btn pull-left skts-btn-secondary"
        [routerLink]="router('back')">
          Tilbage 
      </button>
    </div>
    <div>

    </div>

  </div>

  <div class = "pull-right">
      <div>
          <button
          *ngIf="router('forward')"
          class="btn btn-primary"
          [routerLink]="router('forward')">
            Næste
          
        </button>
      </div>
      <div class="text-center">

      </div>
  </div>
</div>
