<div  *ngIf = "commons.getCountryGroup() === 6" >

  <app-ja-nej 
  [(value)] = "state.diverse.socialSecured" 
  [label]   = "text.get('labelSocialSecured')" 
  ></app-ja-nej>


  <p>
      {{text.get('socialsikringUddybet')}}
      <br>
      <a href="https://www.borger.dk/danskere-i-udlandet/Arbejde-i-udlandet/International-social-sikring" target = "_blank">
        {{text.get('linkTextBorgerdk')}}
      </a>
      <br><br>
  </p>



</div>


<ng-container *ngIf = "commons.getCountryGroup() !== 8">
    <app-ja-nej 
    [(value)] = "state.diverse.arbejdsudlejet" 
    [label]   = "text.get('arbejdsudlejet')" 
  ></app-ja-nej>
  <p>{{text.get('laesOmArbejdsleje')}}</p>
</ng-container>

<app-radio-button 
  [options] = "print.transformToOptions('saerligeOmstaendigheder')"
  [label]   = "text.get('labelsaerligeOmstaendigheder')"
  [(value)] = "state.diverse.specialCircumstances" 
  (change)  = "toggleCheckBox()"
></app-radio-button>


<input type="checkbox" id="specialCircumstances" [(ngModel)] = "state.diverse.notSpecial" (change) = "setSpecial()">
<label for="specialCircumstances">{{text.get('specialCircumstances')}}</label>