<div [innerHTML] = "text.get(getTaxType(),'skatteTyperConclusion')"></div>

<div *ngIf = "this.state.mainState.type === 'capitalIncome'"> 
  <p>{{text.get('undtagelseKapitalIndkomst')}}</p>
</div>

<div *ngIf = "isUdbytte()">
  <p>{{text.get('skatteprocent')}} {{common.getCountryNameReg()}}: <b>{{getUdbyttePct()}} %</b>{{text.get('almUdbytter')}}</p>
  <!-- Hvis Brasilien skal denne ikke vises  ... -->
  <p>{{text.get('beskatningsudbytte_tekst')}}</p>
  <p class = "custom-5">{{text.get('beskatningsudbytte_tekst_2')}}</p>


</div>

<div *ngIf= "isRente()">
  <p>{{text.get('skatteprocent_rente')}} {{common.getCountryNameReg()}}: <b>{{getRentePct()}} %</b>{{text.get('almRenter')}}</p>
  <p>{{text.get('beskatningrente_tekst')}}</p>
</div>

<p *ngIf = "isGronland()">
  {{text.get('gronland_renteTekst')}}
</p>



<div [innerHTML] = "text.get('forbeholdJura')"></div>







