<div [innerHTML]="text.get(getTaxType(),'skatteTyperConclusion')"></div>

<div *ngIf="this.state.mainState.type === 'capitalIncome'">
  <p>{{text.get('undtagelseKapitalIndkomst')}}</p>
</div>

<div *ngIf="isUdbytte() && !this.noShowForUdbytte();">
  <p>{{text.get('skatteprocent')}} {{common.getCountryNameReg()}}:
    <b>{{getUdbyttePct()}} %</b> {{text.get('almUdbytter')}}</p>
  <!-- Hvis Brasilien skal denne ikke vises  ... -->
  <p>{{text.get('beskatningsudbytte_tekst')}}</p>



</div>

<!-- beskatningsudbytte_tekst_2 Du skal selvangive dit udbytte *** skal med på alle credittekster -->

<div *ngIf="state.mainState.type === 'udbytte'">
  <p class="custom-5" *ngIf="isNotBrasil()">{{text.get('beskatningsudbytte_tekst_2')}}</p>
</div>


<div *ngIf="isUdbytte()">
  <p *ngIf="!isNotBrasil()"> {{text.get('saerligBrazil_Udbytte')}}</p>
</div>

<div *ngIf="isRente() && !this.uncertainCountries()">
  <p>{{text.get('skatteprocent_rente')}} {{common.getCountryNameReg()}}:
    <b>{{getRentePct()}} %</b> {{text.get('almRenter')}}</p>
  <p *ngIf="uncertainCountries()">
    {{text.get('ring_KC_rente')}}
  </p>
  <p>{{text.get('beskatningrente_tekst')}}</p>

</div>

<div *ngIf="isRente() && dobbeltRenteSatsLande()">
  {{idNameTxt()}}
</div>

<div *ngIf="state.mainState.type === 'capitalIncome'">
  <p class="custom-5">{{text.get('beskatningrente_tekst_2')}}</p>

</div>

<div *ngIf="isRente()">
</div>

<div *ngIf="this.state.mainState.type === 'capitalIncome' && !uncertainCountries()">
  <p class="custom-5">{{text.get('beskatningrente_tekst_3')}}</p>
</div>

<div [innerHTML]="text.get('forbeholdJura')"></div>
