body > app-root .main-content {
    max-width: 560px;
    margin: 0 auto;
} 

.elements .row:not(:last-child) {
    margin-bottom: 2em;
}

.btn, .form-control {
    border-radius:0 !important;
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-bottom-left-radius:0 !important;

}

.btn-group-vertical>.btn:first-child:not(:first-child) {
    border-top-right-radius:0 !important;

}

.underline {
    border-bottom: 1px dotted white;
}

.lable-for-radio {
    display: block;
    margin:0.5em 0;
}

app-radio-button .btn-group-vertical {
    width: 100%;
}

app-radio-button .btn-group-vertical .btn {
    padding: 1.3em;
    text-align: initial;
}

app-chosen .chosen-container-single .chosen-single {
    background-position: 2px 16px;
}

app-chosen .chosen-container-single .chosen-single, .chosen-container-single .chosen-results, .chosen-container-single .chosen-search {
    border-radius: 0;
    font-size: 1.3rem;
    line-height: 2.2rem;
    text-align: left;
} 

app-chosen .chosen-container-single .chosen-single {
    border-color: #395f77;
    min-height: 3rem;
    padding: 4px 12px;
}

app-chosen .chosen-container-single .chosen-single {
    background: white;
}


.button-wrapper  {
    margin-top: 1.5em;
}

.progress-bar-custom {
    margin-bottom: 1.5em;
}

.well h2 {
    font-size: 2.5rem;
} 
